
body {
  background-color: rgb(223, 70, 167);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(175, 43, 182);
  z-index: 2;
}

#snake-head {
  background-color: rgb(170, 47, 168);
}

.apple {
  background-color: rgb(57, 190, 8);
  z-index: 1;
}